[submodule "submodule/openreil"]
    path = submodule/openreil
    url = https://github.com/Cr4sh/openreil.git
    ignore = dirty
[submodule "submodule/z3"]
    path = submodule/z3
    url = https://github.com/Z3Prover/z3.git
