[submodule "revengine/submodule/z3"]
    path = revengine/submodule/z3
    url = https://github.com/Z3Prover/z3.git
[submodule "revengine-disassembler/submodule/openreil"]
    path = revengine-disassembler/submodule/openreil
    url = https://github.com/Cr4sh/openreil.git
    ignore = dirty
